slam_toolbox:
  ros__parameters:
    # Plugin params
    solver_plugin: solver_plugins::CeresSolver
    ceres_linear_solver: SPARSE_NORMAL_CHOLESKY
    ceres_preconditioner: SCHUR_JACOBI
    ceres_trust_strategy: LEVENBERG_MARQUARDT
    ceres_dogleg_type: TRADITIONAL_DOGLEG
    ceres_loss_function: None

    # ROS Parameters
    odom_frame: odom
    map_frame: map
    base_frame: base_link
    scan_topic: /scan
    use_map_saver: true
    mode: mapping

    # Resolution of the map (meters per pixel)
    resolution: 0.05

    # Minimum travel distance before processing (meters)
    minimum_travel_distance: 0.2
    minimum_travel_heading: 0.2
    
    # Scan matcher params
    max_laser_range: 12.0
    minimum_time_interval: 0.5
    transform_publish_period: 0.02
    
    # Memory params
    max_scan_buffer_size: 10
    
    # Loop closure params
    loop_search_maximum_distance: 3.0
    do_loop_closing: true
    loop_match_minimum_chain_size: 10
    loop_match_maximum_variance_coarse: 3.0
    loop_match_minimum_response_coarse: 0.35
